body { font-size: 80%; font-family: Arial; background: url("greyback.jpg"); }
table.jtrac tr { font-size: 80%; }
table.jtrac th, table.jtrac td.label { background: #CCCCCC; padding-left: 0.2em; padding-right: 0.2em; }
tr.center td { text-align: center; }
.label { font-weight: bold; text-align: right; }
a { color: blue; }
a:hover { color: red; }
.multiselect { height: 10em; overflow: auto; background: white; text-align: left; border: thin groove; }
.error-input { border: thin solid red; }
.error { color: red; font-weight: bold; margin-bottom: 1em; }
.info { color: blue; font-weight: bold; }
.heading { color: blue; font-weight: bold; margin-bottom: 1em; }
.alt { background: #DEDEFF; } 
.selected, table.jtrac .selected { background: #ADD8E6; }
.bdr-bottom, tr.bdr-bottom td { border-bottom: thin solid grey; }
.nav-table-outer, .nav-table-outer tr { font-size: 80%; background-color: #CCCCCC; }
.nav-table td { font-weight: bold; background-color: #DEDEFF; padding-left: 1em; padding-right: 1em; text-align: right; }
.nav-table td.icon { padding: 0; text-align: center; width: 4em; }
.nav-table td a { width: 100%; display: block; }
.bdr-collapse { border-collapse: collapse; }
.bdr-collapse td { padding: 0; }
.page-links { font-weight: bold; }
.nav-table img { border: none; }