body { font-size: 80%; font-family: Arial; background: url("greyback.jpg"); }
table.jtrac tr { font-size: 80%; }
table.jtrac th, .label { background: #CCCCCC; padding-left: 0.2em; padding-right: 0.2em; }
tr.center td { text-align: center; }
.label { font-weight: bold; text-align: right; }
a { color: blue; }
a:hover { color: red; }
.multiselect { height: 12em; overflow: auto; background: white; text-align: left; border: solid thin; }
.error { color: red; font-weight: bold; }
.info { color: blue; font-weight: bold; }
.alt { background: #DEDEFF; } 
.selected, table.jtrac .selected { background: #ADD8E6; }
.bdr-bottom, tr.bdr-bottom td { border-bottom: thin solid grey; }
.nav-table-outer, .nav-table-outer tr { font-size: 80%; background-color: #CCCCCC; }
.nav-table td { font-weight: bold; background-color: #DEDEFF; padding-left: 1em; padding-right: 1em; }
.bdr-collapse { border-collapse: collapse; }
.bdr-collapse td { padding: 0px 0px 0px 0px; }