<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- Acegi security configuration as Spring context -->

<beans>
    
    <!-- change this to "import-acegi.xml" or "import-acegi-cas.xml" as required -->
    <import resource="import-acegi.xml"/> 
    
    <!-- Automatically receives AuthenticationEvent messages -->
    <bean id="loggerListener" class="org.acegisecurity.event.authentication.LoggerListener"/>    
    
    <!-- has to be first in the filter chain, this injects the security / session context for all the rest -->
    <bean id="httpSessionFilter" class="org.acegisecurity.context.HttpSessionContextIntegrationFilter"/>    
    
    <bean name="authorizationFilter" class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="accessDecisionManager">
            <bean class="org.acegisecurity.vote.AffirmativeBased">
                <property name="allowIfAllAbstainDecisions" value="false"/>
                <property name="decisionVoters">
                    <list>
                        <bean class="org.acegisecurity.vote.RoleVoter"/>
                    </list>
                </property>
            </bean>           
        </property>     
        <property name="objectDefinitionSource">            
            <value>
                PATTERN_TYPE_APACHE_ANT
                /flow/item_search*=ROLE_USER,ROLE_GUEST
                /flow/user_profile*=ROLE_USER
                /flow/*=ROLE_ADMIN
                /**=ROLE_USER,ROLE_GUEST
            </value>
        </property>
    </bean>     
           
</beans>


