<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- Acegi security configuration as Spring context -->

<beans>
    
    <!-- change this to "import-acegi.xml" or "import-acegi-cas.xml" as required -->
    <import resource="import-acegi.xml"/>
    
    <!-- Automatically receives AuthenticationEvent messages -->
    <bean id="loggerListener" class="org.acegisecurity.event.authentication.LoggerListener"/>    
    
    <bean id="filterChainProxy" class="org.acegisecurity.util.FilterChainProxy">
        <property name="filterInvocationDefinitionSource">
            <value>
                PATTERN_TYPE_APACHE_ANT
                /**=httpSessionFilter,authenticationFilter,exceptionTranslationFilter,authorizationFilter
            </value>
        </property>
    </bean>    
    
    <!-- has to be first in the filter chain, this injects the security / session context for all the rest -->
    <bean id="httpSessionFilter" class="org.acegisecurity.context.HttpSessionContextIntegrationFilter"/>    
    
    <!-- this is used by default, in case of ldap the next one is used, note the lazy-int setting -->
    <bean id="authenticationManager" class="org.acegisecurity.providers.ProviderManager" lazy-init="true">
        <property name="providers">
            <list>                
                <ref bean="authenticationProvider"/>                
            </list>
        </property>
    </bean>    
      
    <bean id="ldapAuthenticationManager" class="org.acegisecurity.providers.ProviderManager" lazy-init="true">
        <property name="providers">
            <list>
                <ref bean="ldapAuthenticationProvider"/>
                <ref bean="authenticationProvider"/>                
            </list>
        </property>
    </bean>    
    
    <bean id="ldapAuthenticationProvider" class="info.jtrac.acegi.JtracLdapAuthenticationProvider" lazy-init="true">
        <property name="jtrac" ref="jtrac"/>
        <property name="ldapUrl" value="${ldap.url}"/>
        <property name="activeDirectoryDomain" value="${ldap.activeDirectoryDomain}"/>
        <property name="searchBase" value="${ldap.searchBase}"/>        
    </bean>
    
    <bean id="exceptionTranslationFilter" class="org.acegisecurity.ui.ExceptionTranslationFilter">
        <property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
    </bean>   
        
    <bean name="authorizationFilter" class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
        <property name="authenticationManager" ref="${jtrac.authenticationManager}"/>
        <property name="accessDecisionManager">
            <bean class="org.acegisecurity.vote.AffirmativeBased">
                <property name="allowIfAllAbstainDecisions" value="false"/>
                <property name="decisionVoters">
                    <list>
                        <bean class="org.acegisecurity.vote.RoleVoter"/>
                    </list>
                </property>
            </bean>           
        </property>     
        <property name="objectDefinitionSource">            
            <value>
                PATTERN_TYPE_APACHE_ANT
                /flow/item_search*=ROLE_USER,ROLE_GUEST
                /flow/user_profile*=ROLE_USER
                /flow/item*=ROLE_USER
                /flow/*=ROLE_ADMIN
                /**=ROLE_USER,ROLE_GUEST
            </value>
        </property>
    </bean>   
    
</beans>


