<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
      id="info.jtrac.mylar.repository"
      name="JTrac Repository"
      point="org.eclipse.mylar.tasks.ui.repositories">
   <connectorCore
         class="info.jtrac.mylar.JtracRepositoryConnector"
         id="info.jtrac.mylar.repository.connector.core"
         name="JTrac Connector"
         type="jtrac">
   </connectorCore>
   <externalizer
         class="info.jtrac.mylar.ui.JtracTaskExternalizer"
         id="info.jtrac.mylar.repository.externalizer"
         name="JTrac Externalizer">
   </externalizer>
   <connectorUi
         brandingIcon="icons/task-repository.gif"
         class="info.jtrac.mylar.ui.JtracRepositoryConnectorUi"
         id="info.jtrac.mylar.repository.connector.ui"
         name="JTrac Connector UI"
         overlayIcon="icons/task-repository.gif">
   </connectorUi>
</extension>

<extension
      point="org.eclipse.mylar.tasks.core.templates">
   <repository
         label="JTrac Repository"
         repositoryKind="jtrac"
         urlRepository="http://localhost:8080/jtrac"
         >
   </repository>
</extension>
<extension
      point="org.eclipse.mylar.tasks.ui.editors">
   <editorFactory
         class="info.jtrac.mylar.ui.editor.JtracTaskEditorFactory">
   </editorFactory>
</extension>         

</plugin>
